@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  body {
    background-color: #f8fafc; /* Slate 50 */
    background-image: 
      linear-gradient(#e2e8f0 1px, transparent 1px), 
      linear-gradient(90deg, #e2e8f0 1px, transparent 1px);
    background-size: 24px 24px;
    color: #0f172a;
    @apply antialiased;
  }
}
